* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  background: #90e0ef;
  padding: 15px 10px;
  width: auto;
  margin-bottom: 30px;
  border-radius: 4px;
}

.input {
  border-radius: 4px;
  padding: 6px 6px;
}

.inputU {
  border-radius: 4px;
  background-color: #edede9;
  padding: 6px 6px;
}

input#cep {
  width: 75px;
}

input#estado {
  width: 50px;
}

input#address {
  width: 300px;
}

input#bairro {
  width: 250px;
}

button#buscar {
  width: 80px;
  padding: 6px;
  border-color: #e9edc9;
  background-color: #ccd5ae;
  font-weight: bold;
  border-radius: 6px;
}

p#error {
  font-weight: bold;
}
